<section class="destinations py-5" id="destinations">
  <div class="container py-md-5">
    <h3 class="heading text-center mb-3 mb-sm-5">Tour Prices</h3>
    <div class="scroll-container">
      <div class="scroll-content">
        <div class="destinations-grids text-center">
          <h4 class="destination mb-3">Alexandria</h4>
          <div class="image-position position-relative">
            <img src="assets/img/alex.jpg" class="img-fluid" alt="Alex">
            <div class="rating">
              <span class="fa fa-usd">90</span>
            </div>
            <div class="destinations-info">
              <div class="caption mb-lg-3">
                <h4>Alexandria</h4>
                <a href="#contact" class="book-now">Book Now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="destinations-grids text-center">
          <h4 class="destination mb-3">Cairo</h4>
          <div class="image-position position-relative">
            <img src="assets/img/cairo.jpg" class="img-fluid" alt="Cairo">
            <div class="rating">
              <span class="fa fa-usd">70</span>
            </div>
            <div class="destinations-info">
              <div class="caption mb-lg-3">
                <h4>Cairo</h4>
                <a href="#contact" class="book-now">Book Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="destinations-grids text-center">
          <h4 class="destination mb-3">Siwa</h4>
          <div class="image-position position-relative">
            <img src="assets/img/sewa.webp" class="img-fluid" alt="Siwa">
            <div class="rating">
              <span class="fa fa-usd">500</span>
            </div>
            <div class="destinations-info">
              <div class="caption mb-lg-3">
                <h4>Siwa</h4>
                <a href="#contact" class="book-now">Book Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="destinations-grids text-center">
          <h4 class="destination mb-3">Luxor</h4>
          <div class="image-position position-relative">
            <img src="assets/img/luxur.jpg" class="img-fluid" alt="Luxor">
            <div class="rating">
              <span class="fa fa-usd">495</span>
            </div>
            <div class="destinations-info">
              <div class="caption mb-lg-3">
                <h4>Luxor</h4>
                <a href="#contact" class="book-now">Book Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="destinations-grids text-center">
          <h4 class="destination mb-3">Aswan</h4>
          <div class="image-position position-relative">
            <img src="assets/img/aswan.jpg" class="img-fluid" alt="Aswan">
            <div class="rating">
              <span class="fa fa-usd">700</span>
            </div>
            <div class="destinations-info">
              <div class="caption mb-lg-3">
                <h4>Aswan</h4>
                <a href="#contact" class="book-now">Book Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="destinations-grids text-center">
          <h4 class="destination mb-3">Fayoum</h4>
          <div class="image-position position-relative">
            <img src="assets/img/fayoum.webp" class="img-fluid" alt="Fayoum">
            <div class="rating">
              <span class="fa fa-usd">200</span>
            </div>
            <div class="destinations-info">
              <div class="caption mb-lg-3">
                <h4>Fayoum</h4>
                <a href="#contact" class="book-now">Book Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="destinations-grids text-center">
          <h4 class="destination mb-3">Hurghada</h4>
          <div class="image-position position-relative">
            <img src="assets/img/Hurghada.jpg" class="img-fluid" alt="Hurghada">
            <div class="rating">
              <span class="fa fa-usd">390</span>
            </div>
            <div class="destinations-info">
              <div class="caption mb-lg-3">
                <h4>Hurghada</h4>
                <a href="#contact" class="book-now">Book Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="destinations-grids text-center">
          <h4 class="destination mb-3">Sharm El-Sheikh</h4>
          <div class="image-position position-relative">
            <img src="assets/img/sharm.jpg" class="img-fluid" alt="Sharm El-Sheikh">
            <div class="rating">
              <span class="fa fa-usd">390</span>
            </div>
            <div class="destinations-info">
              <div class="caption mb-lg-3">
                <h4>Sharm El-Sheikh</h4>
                <a href="#contact" class="book-now">Book Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="destinations-grids text-center">
          <h4 class="destination mb-3">Bahariya Oasis</h4>
          <div class="image-position position-relative">
            <img src="assets/img/wahat.webp" class="img-fluid" alt="Bahariya Oasis">
            <div class="rating">
              <span class="fa fa-usd">450</span>
            </div>
            <div class="destinations-info">
              <div class="caption mb-lg-3">
                <h4>Bahariya Oasis</h4>
                <a href="#contact" class="book-now">Book Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
