<div class="gallery">
  <h3>Tour Gallery</h3>
  <div class="grid-container">
    <div class="gal-img">
      <a href="/gallery">
        <img src="assets/img/g1.webp" alt="Photo 1" class="img-fluid">
        <span class="caption">Photo</span>
      </a>
    </div>
    <div class="gal-img">
      <a href="/gallery">
        <img src="assets/img/g2.jpeg" alt="Photo 2" class="img-fluid">
        <span class="caption">Video</span>
      </a>
    </div>
    <div class="gal-img">
      <a href="/vip">
        <img src="assets/img/g3.jpg" alt="Photo 3" class="img-fluid">
        <span class="caption">VIP</span>
      </a>
    </div>
  </div>
</div>
