.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #d19405;
  background: linear-gradient(to top, #351b04, #a37302, #feb200);
}

.login-form {
  background: rgb(77, 80, 72);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  background-color: rgb(73, 76, 68);
  border: 1px solid #313131;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #feb200;
  outline: none;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: rgb(73, 76, 68);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #feb200;
}

.forgot-password {
  margin-top: 15px;
  text-align: center;
}

.forgot-password a {
  color: #fec94f;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
