<div class="tab-content">
  <div class="place-card">
    <img src="assets/img/700.jpg" alt="Cairo Resort" class="place-img">
    <div class="place-details">
      <h3 class="place-title">Cairo Tours</h3>
      <p class="highlight-text">Full Day To Cairo</p>
      <p class="description-text">
        Experience the wonders of Egypt with Yaro Travel! Our Cairo Full Days Tour offers an unforgettable journey showcasing this ancient city's best. Explore the iconic Pyramids of Giza, wander through the enchanting Egyptian Museum, and discover the vibrant culture of Cairo. And the best part? We offer the best prices in town, ensuring you get the most value for your money. With our top-notch service and expert guides, we promise an exceptional experience from start to finish.
      </p>
    </div>
    <a [routerLink]="['/details', '676b2716b150112a89272527']" class="price-box">
      <p class="price">$70</p>
      <p class="read-more">Book Now</p>
    </a>
  </div>

  <div class="place-card">
    <img src="assets/img/vip1.jpg" alt="Another Resort" class="place-img">
    <div class="place-details">
      <h3 class="place-title">Pyramids Tours</h3>
      <p class="highlight-text">Full Day To Pyramids</p>
      <p class="description-text">
        Don't miss the chance to visit the Pyramids of Giza complex if you're in Cairo on this tour that includes hotel transport for an easy way to see these ancient structures and UNESCO World Heritage Site.
        Accompanied by a guide, you can marvel at the three pyramids from the outside: the Great Pyramid of Cheops (Khufu), Khafre's Pyramid, and the Pyramid of Menkaure.      </p>
    </div>
    <a [routerLink]="['/details', '676b2a9db150112a89272689']" class="price-box">
      <p class="price">$70</p>
      <p class="read-more">Book Now</p>
    </a>
  </div>

  <div class="place-card">
    <img src="assets/img/888.jpg" alt="Another Resort" class="place-img">
    <div class="place-details">
      <h3 class="place-title">Nile Cruise Trips</h3>
      <p class="highlight-text">Nile Cruise</p>
      <p class="description-text">
        Looking for great and unique Nile cruises, whether you want to book economical Nile cruises, deluxe cruises, or luxury cruises in Egypt, book with us and enjoy the magic of wonderful trips.
      </p>
    </div>
    <a [routerLink]="['/nile']" class="price-box">
      <p class="price">$50</p>
      <p class="read-more">Book Now</p>
    </a>
  </div>

  <div class="place-card">
    <img src="assets/img/vip4.jpg" alt="Another Resort" class="place-img">
    <div class="place-details">
      <h3 class="place-title">VIP Tour into the pyramid</h3>
      <p class="highlight-text">Pyramid energy and the sevenfold chakra</p>
      <p class="description-text">
        Explore this mysterious energy and enjoy a blend of culture, history and spiritual renewal in an environment that connects you to the legacy of ancient Egypt. Don't miss out on this life-changing adventure.
      </p>
    </div>
    <a [routerLink]="['/vip/details']" class="price-box">
      <p class="price">$500</p>
      <p class="read-more">Book Now</p>
    </a>
  </div>

</div>

