<div class="moment-section">
  <h3>Some Moment With Pyramid energy and the seven chakras</h3>

  <div class="gallery">
    <div class="gallery-item">
      <img src="assets/img/v1.jpg" alt="photo"/>
    </div>

    <div class="gallery-item">
      <img src="assets/img/v2.jpg" alt="photo"/>
    </div>

    <div class="gallery-item">
      <img src="assets/img/v3.jpg" alt="photo"/>
    </div>

    <div class="gallery-item">
      <img src="assets/img/v4.jpg" alt="photo"/>
    </div>

    <div class="gallery-item">
      <img src="assets/img/v5.jpg" alt="photo"/>
    </div>

    <div class="gallery-item">
      <video controls>
        <source src="assets/video/vip/v1.mp4" type="video/mp4"/>
      </video>
    </div>

    <div class="gallery-item">
      <video controls>
        <source src="assets/video/vip/v2.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="gallery-item">
      <video controls>
        <source src="assets/video/vip/v3.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="gallery-item">
      <video controls>
        <source src="assets/video/vip/v4.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="gallery-item">
      <video controls>
        <source src="assets/video/vip/v5.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="gallery-item">
      <video controls>
        <source src="assets/video/vip/v6.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="gallery-item">
      <video controls>
        <source src="assets/video/vip/v7.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="gallery-item">
      <video controls>
        <source src="assets/video/vip/v8.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="gallery-item">
      <video controls>
        <source src="assets/video/vip/v9.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="gallery-item">
      <video controls>
        <source src="assets/video/vip/v10.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</div>

