<div class="full-width-content">
  <h3>Client Reviews</h3>
  <div class="video-gallery">
    <video src="assets/video/1.mp4" controls></video>
    <video src="assets/video/2.mp4" controls></video>
    <video src="assets/video/3.mp4" controls></video>
    <video src="assets/video/4.mp4" controls></video>
    <video src="assets/video/5.mp4" controls></video>
    <video src="assets/video/6.mp4" controls></video>
    <video src="assets/video/7.mp4" controls></video>
    <video src="assets/video/8.mp4" controls></video>
  </div>
</div>

